<ion-header>
  <ion-toolbar>
    <ion-title>
      <ion-icon name="logo-xbox"></ion-icon>
      Games
      <ion-icon name="logo-playstation"></ion-icon>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Atualizando...">
    </ion-refresher-content>
  </ion-refresher>

  

  <ion-content>
      <!-- fab placed to the (vertical) center and end -->
      <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button color="blue" routerLink="/tabs/addgame">
          <ion-icon name="add"></ion-icon>
        </ion-fab-button>
      </ion-fab>

<ion-card *ngIf = "games">
  <ion-item *ngFor= "let g of games" routerLink="/tabs/perfilGame/{{g.key}}">
    <ion-avatar slot="start">
      <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
    </ion-avatar>
    <ion-label>{{ g.nome }}</ion-label>
    <ion-text>{{ g.console }}  <ion-icon name="logo-playstation"></ion-icon> / <ion-icon name="logo-xbox"></ion-icon>

    </ion-text>


  </ion-item>
  </ion-card>

    </ion-content>

   </ion-content>
