<ion-header>
  <ion-toolbar>
    <ion-title>perfil-game</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item lines="none">
    <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
  </ion-item>


  <ion-item>

      <ion-text>      
    <h2> Nome: {{game.nome}}</h2>
    <p> categoria: {{game.categoria}}</p>
    <p> console: {{game.console}}</p>
    <p> Descricao: {{game.descricao}}</p>
    <p> quantidade: {{game.quantidade}}</p>
    <p> Valor: {{game.valor}}</p>
      </ion-text>

  </ion-item>
</ion-content>
