<ion-header>
  <ion-toolbar>
    <ion-title>
      JOGADOR
      <ion-icon name="logo-ionitron"></ion-icon>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  

  <ion-content>
      <!-- fab placed to the (vertical) center and end -->
      <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button color="danger" routerLink="/tabs/addjogador">
          <ion-icon name="add"></ion-icon>
        </ion-fab-button>
      </ion-fab>

<ion-list *ngIf="jogadores | async as lp">
  <ion-item *ngFor="let j of lp">
    <ion-avatar slot="start">
      <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
    </ion-avatar>
    <ion-label>{{j.nickname}}</ion-label>
    <ion-text>{{j.email}}</ion-text>
  </ion-item>
</ion-list>

    </ion-content>
   </ion-content>
