<ion-header>
  <ion-toolbar>
    <ion-title>add-jogador</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item>
    <ion-label position="floating">Nome</ion-label>
    <ion-input type="text"></ion-input>
  </ion-item>





<ion-item>
  <ion-label position="floating">NickName</ion-label>
  <ion-input type="text"></ion-input>
</ion-item>




<ion-item>
  <ion-label position="floating">E-mail</ion-label>
  <ion-input type="email"></ion-input>
</ion-item>






<ion-item>
  <ion-label position="floating">Senha</ion-label>
  <ion-input type="password"></ion-input>
</ion-item>





<ion-item>
  <ion-label position="floating">Confirmar senha</ion-label>
  <ion-input type="password"></ion-input>
</ion-item>

</ion-content>

<ion-item lines="none">
  <ion-button expand="full" color="dark">Salvar</ion-button>
  <ion-button slot="end" color="dark">cancelar</ion-button>

</ion-item>
